.image {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.container {
  margin: auto;
  text-align: center;
}

.icon {
  color: #ff0080
}

.link, .link:visited {
  color: #1E90FF;
}

.link:hover {
  color: #00008B;
}
/*.body {*/
/*  min-width: auto;*/
/*  background-image: url("https://files.pitchbook.com/website/files/jpg/food_delivery_800.jpg");*/
/*  background-repeat: no-repeat;*/
/*  background-attachment: fixed;*/
/*  background-size: cover;*/
/*}*/